

{% extends 'base.html'%}

{% block title%}
  
    Greeting of the day!
{% endblock%}
{% block content %}


<h1>Post</h1>
<hr>
<br/>
<ul class="list-group">
{% for post in object_list %}

<li class="list-group-item">
 <a href="{% url 'articledetail' post.pk %}">{{post.title}}</a>
 by: {{post.author.first_name}}
 <br/>
 {{post.body}}
 <br/>
 {% if user.is_authenticated %}

 <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
 <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>

 {% endif %}
</li>

{% endfor %}
</ul>
{% endblock %}